{% extends "layout.njk" %}

{% block head %}
  <title>Aulas Favoritas - Luan Xavier</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet">
  <title>Classes</title>
{% endblock %}

{% block content %}
  <div id="wrapper">
    <h1>Aulas Favoritas</h1>
  </div>

  <section class="cards">
    {% for item in items %}
    <div class="card" id="{{ item.id }}">
      <div class="card_image-container">
        <img src="https://img.youtube.com/vi/{{item.id}}/maxresdefault.jpg" alt="Imagem de {{item.title}}">
      </div>
      <div class="card_content">
        <p>{{ item.title }}</p>
      </div>
      <div class="card_info">
        <p>{{ item.duration }}</p>
        <p class="card_description">{{ item.price }}</p>
      </div>
    </div>
    {% endfor %}
  </section>

  <div class="modal_overlay">
    <div class="modal">
      <a class="close_modal">
        <i class="material-icons">close</i>
      </a>
      <div class="modal_content">
        <iframe width="560" height="315" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <script src="scripts.js"></script>
{% endblock %}